absl-py==1.4.0
astunparse==1.6.3
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
chex==0.1.85
clu==0.0.11
contextlib2==21.6.0
einops==0.7.0
etils==1.7.0
flatbuffers==23.5.26
flax==0.8.1
fsspec==2024.2.0
gast==0.5.4
google-auth==2.28.1
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
grpcio==1.62.0
h5py==3.10.0
idna==3.6
importlib_resources==6.1.2
jax==0.4.25
jaxlib==0.4.25
keras==2.15.0
libclang==16.0.6
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
maxvit==1.0.0
mdurl==0.1.2
ml-collections==0.1.0
ml-dtypes==0.2.0
msgpack==1.0.8
nest-asyncio==1.6.0
numpy==1.25.2
oauthlib==3.2.2
opt-einsum==3.3.0
optax==0.1.9
orbax-checkpoint==0.4.4
packaging==23.2
pandas==1.5.3
protobuf==4.25.3
pyasn1==0.5.1
pyasn1-modules==0.3.0
Pygments==2.17.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==1.4.0.dev0
rich==13.7.1
rsa==4.9
scipy==1.12.0
six==1.16.0
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-intel==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
tensorstore==0.1.45
termcolor==2.4.0
toolz==0.12.1
typing_extensions==4.10.0
urllib3==2.2.1
Werkzeug==3.0.1
wrapt==1.11.0
zipp==3.17.0
